<div class="form-content">
  <%= simple_form_for @client do |f| %>

    <%= f.label :name, 'Enter a name' %>
    <%= f.text_field :name %>

    <%= f.button :submit, "Create client", class: "btn btn-info" %>

  <% end %>

  <div class="form-back">
    <%= link_to "Back to list", clients_path %>
  </div>
</div>
