<div class="container">

  <h1>Les clients</h1>

  <%= link_to "Add a new client", new_client_path %>

  <ul>
    <% @clients.each do |client| %>
      <li>
        <p><%= client.name %> :
        <!-- <p><%= client.total_time %></p> -->
        <%= client.total_time / 60 %>h <%= client.total_time % 60 %>min

        <% if policy(client).show? %>
          <%= link_to "Details", client_path(client) %> |
        <% end %>

        <% if policy(client).destroy? %>
          <%= link_to "Delete", client_path(client), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %></p>
      </li>
    <% end %>
  </ul>

</div>
