<div class="container">

  <h1><%= @client.name %></h1>

  <% if @client.user == current_user %>
    <p>Total time spend :<%= @client.total_time / 60 %> h <%= @client.total_time % 60 %> min</p>

    <h3>All my appointments with <%= @client.name %></h3>

    <%= link_to "Add an appointment", new_client_appointment_path(@client) %>

    <ul>
      <% @appointments.each do |appointment| %>
        <li><%= appointment.date.strftime("%e %B %Y") %> : <%= (appointment.duration / 60) %>h <%= (appointment.duration % 60) %> min</br>
        <%= link_to 'Edit this appointement', edit_client_appointment_path(@client, appointment) %> |
        <%= link_to 'Delete', client_appointment_path(@client,appointment), method: :delete, data: { confirm: "Are you sure?" } %></br>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Oh no ! <%= @client.name %> isn't my client.</p>
  <% end %>

  <%= link_to "Back to list", clients_path %>

</div>
